/*landing*/
body {
    margin: 0px;
    overflow-x: hidden;
}

a {
    cursor: pointer;
}

form {
    padding: 15px 15px;
}
textarea{
    resize: none;
    padding: 1%;
}

.error {
    color: red;
}
/* navbar */
#navbar {
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: darkblue;
}

#navbar a {
    color: white;
    padding: 30px;
}

/*auth*/
.error {
    color: red;
}

#register {
    text-align: center;
}

/*search*/
.search {
    padding: 5px;
}
#formContainer {
    min-height: 50vh;
    display: flex;
    position: relative;
}

#originplace {
    width: 200px;
}

#destinationplace {
    width: 200px;
}

.searchBox {
    border: 2px solid #002780;
    display: inline-block;
    width: 100%;
    padding-right: 50%;  
    background: mintcream;
    border-radius: 0 0 0 20px;
}

.searchBox label{
    display: inline-block;
    padding-top: 10px; 
}

.searchBox input{
    margin: 10px; 
}

.searchBox select{
    margin: 10px; 
}


.imageBox {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 50%;
    height: 100%;
    background-image: url("6998024-airplane-fly-heart.jpg");
    background-size: cover;
    background-position: center;
}

/*result*/
.ticket {
    height: 150px;
    width: 90%;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
        border-radius: 60px 0px 0px 60px;
    position: relative;
    display: flex;
}

.ticketLeft {
    height: 100%;
    width: 60px;
    background: purple;
    display: inline-block;
    border-radius: 60px 0px 0px 60px;
}

.ticketRight {
    width: 100%;
    background: #d0cccc;
    display: inline-block;
}
.agents {
    height: 100%;
    width: 150px;
    text-align: center;
    display: inline-flex;
    border-top: 1px purple solid;
    border-bottom: 1px purple solid;
    background-color: white;
}

.top {
    text-align: center;
    height: 74px;
}
.down {
    text-align: center;
    border-top: 1px purple solid;
    height:74px;
}
.priceAndSelect {
    border-top: 1px purple solid;
    border-bottom: 1px purple solid;
    text-align: center;
    background-color: white;
}
.price {
    font-size: 25px;
    text-align: center;
    padding: 0px 10px;
}

.priceAndSelect button {
    padding: 0px 10px;
}

.origin {
    margin-left: 15px;
}

.carrier {
    width: 70%;
    max-height: 30px;
}

.childbox {
    margin-top: auto;
    margin-bottom: auto;
        max-height: 148px;
    display: inline-block;
    vertical-align: middle;          /* vertical alignment of the inline element */
    font: 16px/1 Arial, sans-serif;  /* reset the font property */
    
    padding: 5px;
}
.agents:before {      /* create a full-height inline block pseudo-element */
    content: ' ';
    display: inline-block;
    vertical-align: middle; /* vertical alignment of the inline element */
    height: 100%;
}

.select {
    text-align: center;
    transform: translate(0,37.5px);
    width: 100px;
    margin: 0px 10px;
}
.ticketR {
    background: purple;
    border-radius: 0px 60px 60px 0px;
    width: 60px;
}

/*auto complete*/
.suggestions {
    border-left: 1px black solid;
    border-right:1px black solid;
    border-bottom:1px black solid;
    width: 200px;
    position: fixed;
    background: white;
    margin-top: 10px;
}

.suggestionsContainer {
    display: inherit;
}
.inlineBlock {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.currentSuggestion {
    background-color: #d0cccc;
    color: #326E99;
}

.controller {
    text-align: center;
    display: none;
}

.controller button {
    padding: 5px;
}

    
.searchBox select{
    margin: 10px; 
}
    position: absolute;
    left: 1px;
    top: -40px;
    border-radius: 2px;
    width: 119px;
    height: 34px;
    background-color: rgb(255, 255, 255);
}


/*datepicker*/
[type="date"] {
  background:white url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/*ticker*/

#ticker {
  white-space: nowrap;
  transition-property: transform;
  position: absolute
}

#ticker span {
    position: relative;
    top: -15px;
}

/*tooltip*/

.hidden {
    display: none;
}

.tooltip {
    color: red;
    position: absolute;
    display: block;
    background-color: #795548;
    z-index: 10;
    /* min-height: 50px; */
    margin-left: 0px;
    left: 50px;
    top: -25px;
    min-width: 100px;
    border: 2px black solid;
}
/*Media query*/
@media only screen and (max-width: 350px) {
  body {
    font-size: xx-small;
  }

  .imageBox {
        display: none;
  }
    
  .select {
        width: 50px;
    }
    
    .price {
        font-size: 15px;
    }
}

@media only screen and (max-width: 450px) {

  .imageBox {
        display: none;
  }
    
}

@media only screen and (max-width: 670px) and (min-width: 350px) {
  body {
    font-size: x-small;
  }
  
    .select {
        width: 50px;
    }
    
    .price {
        font-size: 15px;
    }
}
