/*landing*/
body {
    margin: 0px;
}

textarea{
    resize: none;
    padding: 1%;
}

.error {
    color: red;
}
/* navbar */
#navbar {
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: darkblue;
}

#navbar a {
    color: white;
    padding: 30px;
}

/*auth*/
.error {
    color: red;
}

/*search*/
#formContainer {
    height: 50vh;
    display: flex;
}

.searchBox {
    border: 2px solid green;
   display: inline-block; 
    width: 50%;
    
}

.imageBox {
    height: 100%;
  border: 2px solid blue;   
  background-image: url("6998024-airplane-fly-heart.jpg");
  background-size: cover;
    width: 50%;
}
.ticket {
    height: 150px;
    width: 90%;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
        border-radius: 60px 0px 0px 60px;
    position: relative;
    display: flex;
}

.ticketLeft {
    height: 100%;
    width: 60px;
    background: purple;
    display: inline-block;
    border-radius: 60px 0px 0px 60px;
}

.ticketRight {
    width: 100%;
    background: gray;
    display: inline-block;
}
.agents {
    height: 100%;
    width: 150px;
    text-align: center;
    display: inline-flex;
    border-top: 1px purple solid;
    border-bottom: 1px purple solid;
}

.top {
    text-align: center;
    height: 74px;
}
.down {
    text-align: center;
    border-top: 1px purple solid;
    height:74px;
}
.priceAndSelect {
    border-top: 1px purple solid;
    border-bottom: 1px purple solid;
}
.price {
    font-size: 25px;
    text-align: center;
}



.origin {
    margin-left: 15px;
}

.carrier {
    width: 70%;
    max-height: 30px;
}

.childbox {
    margin-top: auto;
    margin-bottom: auto;
        max-height: 148px;
    display: inline-block;
    vertical-align: middle;          /* vertical alignment of the inline element */
    font: 16px/1 Arial, sans-serif;  /* reset the font property */
    
    padding: 5px;
}
.agents:before {      /* create a full-height inline block pseudo-element */
    content: ' ';
    display: inline-block;
    vertical-align: middle; /* vertical alignment of the inline element */
    height: 100%;
}

.select {
    text-align: center;
    transform: translate(0,37.5px);
    width: 100px;
}
.ticketR {
    background: purple;
    border-radius: 0px 60px 60px 0px;
    width: 60px;
}

/*auto complete*/
.suggestions {
    border-left: 1px black solid;
    border-right:1px black solid;
    border-bottom:1px black solid;
    width: 200px;
}

.inlineBlock {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.currentSuggestion {
    background-color: green;
    color: orange;
}

.controller {
    text-align: center;
    display: none;
}

.infoBox {
    position: absolute;
    left: 1px;
    top: -40px;
    border-radius: 2px;
    width: 119px;
    height: 34px;
    background-color: rgb(255, 255, 255);
}


/*datepicker*/
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}