/*landing*/
body {
    margin: 0px;
}

textarea{
    resize: none;
    padding: 1%;
}

/* navbar */
#navbar {
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: darkblue;
}

#navbar a {
    color: white;
    padding: 30px;
}

/*auth*/
.error {
    color: red;
}