<div id="formContainer">
<!--    vm.searchBox.$valid && -->
    <form id="vm.searchBox" class="searchBox form-horizontal" role="form" name="vm.searchBox" ng-model="vm.data" ng-submit="vm.selectTicket()" novalidate>
        <div class="form-group">
            <label for="originplace" class="col-sm-2 control-label">Origin: </label> 
            <input id="originplace" class="form-control col-md-3" type="text" autocomplete="off" ng-focus="vm.currentInputElement('#originplace')" ng-model="vm.data.originplace" ng-blur="vm.cancelSuggestions('#originplace')" ng-change="vm.predict(vm.data.originplace)" name="originplace" placeholder="origin airport" required>
            <div class="suggestionsContainer" ng-show="vm.origin">
                <div class="suggestions" ng-hide="vm.showSuggestion()"><div class="inSuggestions" ng-repeat="suggest in vm.suggestions.suggestions track by $id($index)" ng-mouseleave="vm.inActive($event)" ng-mouseover="vm.active($event)" data-skyscannervalue ="{{suggest.PlaceId}}" countryName="{{suggest.CountryName}}">{{suggest.PlaceName}}</div></div>
            </div> 
            
            <input id="originplaceshadow" ng-model="vm.data.originId" hidden>
            <label for="destinationplace" class="col-md-2 control-label">Destination: </label>
                <input id="destinationplace" class="form-control col-sm-3" ng-blur="vm.cancelSuggestions('#destinationplace')" ng-focus="vm.currentInputElement('#destinationplace')" ng-model="vm.data.destinationplace" ng-change="vm.predict(vm.data.destinationplace)" autocomplete="off" name="destinationplace" placeholder="destinationplace" required>
                <div id="departSuggestions" class="suggestionsContainer" ng-show="vm.destionation">
                    <div class="suggestions" ng-hide="vm.showSuggestion()"><div class="inSuggestions" ng-repeat="suggest in vm.suggestions.suggestions track by $id($index)" ng-mouseleave="vm.inActive($event)" ng-mouseover="vm.active($event)" data-skyscannervalue ="{{suggest.PlaceId}}" countryName="{{suggest.CountryName}}">{{suggest.PlaceName}}</div></div>
                </div>
        </div>
        
        <input id="destinationplacecountry" ng-model="vm.data.destinationCountry" hidden>
        <input id="destinationplaceshadow" ng-model="vm.data.destinationId" hidden>
        
        
        <datepicker  date-format="dd/MM/y" date-max-limit={{vm.maxReturn}} date-min-limit={{vm.today}}  date-set={{vm.today}} selector="inputClass">
            <div class="dateLabelHolder">
                <label for="outboundDate" class="ph-label">Depart Date: </label>     
                <input id="outboundDate" class="inputClass" name="outbounddate" type="text"   ng-model="vm.data.outbounddate" required>
    <!--            date-check-->
            </div>
            
        </datepicker>
        
        
        <datepicker date-format="dd/MM/y" date-max-limit={{vm.maxReturn}} date-min-limit={{vm.today}}  date-set={{vm.today}} selector="inputClass">
            <div class="dateLabelHolder">
                <label for="inbounddate" class="ph-label">Return Date: </label>
            <input ng-model="vm.data.inbounddate" name="inbounddate" class="inputClass" id="inbounddate" type="text" ng-show="vm.twoWays" required>
<!--            out-greater-than-in date-check -->
            </div>
            
        </datepicker>
        </br><br>
<!--
        <label class="ph-label" ng-bind="vm.ways" for="ways"></label>
        <input id="ways" type="checkbox" ng-click="vm.toggleWays()">
-->
        <label class="ph-label" for="priceFilter">Price Filter</label>
        <input id="priceFilter" type="checkbox" ng-click="vm.toggleFilter()"></br><br>
        <input class="ph-input" ng-model="vm.data.adults" name="adults" type="number" placeholder="Adults" required>
        <input class="ph-input" ng-model="vm.data.children" name="children" type="number" placeholder="Children">
        <input class="ph-input" ng-model="vm.data.infants" name="infants" type="number" placeholder="Infants"><br><br>
        <label for="selectclass" class="ph-label">Class</label>
        <select id="selectclass" class="ph-button ph-input" ng-init="vm.data.class = 'Economy'" ng-model="vm.data.class" name="class">
            <option value="Economy" >Economy</option>
            <option value="PremiumEconomy" >Premium Economy</option>
            <option value="Business" >Business</option>
            <option value="First">First Class</option>
        </select>
        <label for="selectCurrency" class="ph-label">Currency
        <select id="selectCurrency" class="ph-button ph-input" ng-init="vm.data.currency = 'USD'" ng-model="vm.data.currency" name="selectCurrency">
            <option value="USD" >USD</option>
            <option value="EUR" >EURO</option>
        </select></label></br>
        </br>
        <button type="submit" class="search ph-button ph-btn-blue">Search</button>
    </form>

    <div class="imageBox">
    </div>
</div>

<div>
    <p class="error" ng-show="vm.error" ng-bind="vm.error"></p>
        <div ng-show="vm.showMeError()">
            <p class="error" ng-repeat="error in vm.showMeError()">{{error}}</p>
        </div>

        <div ng-show="vm.searchBox.$submitted">
            
            <p class="error" ng-show="vm.searchBox.outbounddate.$error.dateCheck">Date can not be more than a year from now (you need to write a more costumised message)</p>
        </div>

        <div ng-show="vm.searchBox.$submitted">
            <p class="error" ng-show="vm.searchBox.inbounddate.$error.outGreaterThanIn || vm.searchBox.outbounddate.$error.outGreaterThanIn">Depart can not be greater that return, I think :)</p>
            <p class="error" ng-show="vm.searchBox.inbounddate.$error.dateCheck && vm.twoWays">Date can not be more than a year from now</p>
        </div>
</div>

<div ng-hide="vm.showMeError()">
    <br>
    <div ng-show="vm.spiner()" id='ticker'>
        <span>Please Wait!!</span>
        <img src="../../content/airplane_311727.jpg">
    </div>
</div>

<div class="results">
    <div class="ticket" ng-repeat="flight in vm.flights.currentPage">
        <div class="ticketLeft">

        </div>
        <div class="agents">
            <div class="childbox">
                <img class="carrier" src={{flight.carrierImage}}>
            </div>
        </div>
        <div class="ticketRight">
            <div class="top">
                <div class="inlineBlock">
                    <span class="origin">{{flight.origin}}</span>
                    <br>
                    <span> {{flight.departureDate}} _ {{flight.departureTime}}</span>
                </div>
                <div class="inlineBlock">
                    <span class="outboundDuration">{{flight.outboundDuration}} hr</span>
                    <br>
                    <span>--------></span>
                    <br>
                    <a ng-show="flight.originStopsLength" class="stops" ng-mouseover="vm.toolTip($event, flight.originStops)" ng-mouseleave="vm.hideToolTip($event)">{{flight.originStopsLength}}. Stops
                </a>
                    <p class="hidden"></p>
                    <!--
                    <a ng-show="flight.originStops"  class="stops" ng-repeat="stop in flight.originStops" >
                stops:{{stop}}</a>
-->
                </div>
                <div class="inlineBlock">
                    <span class="destination">{{flight.destination}}</span>
                    <br>
                    <span class="destination">{{flight.arrivalDate}} _ {{flight.arrivalTime}}</span>
                </div>

            </div>

            <div class="down">
                <div class="inlineBlock">
                    <span class="origin">{{flight.destination}}
                <br> {{flight.departureRDate}} _ {{flight.departureRTime}}  </span>
                </div>
                <div class="inlineBlock">
                    <span class="outboundDuration">{{flight.inboundDuration}} hr</span><br>
                    <span>--------></span>
                    <br>
                    <a ng-show="flight.destinationStopsLength" class="stops" ng-mouseover="vm.toolTip($event, flight.destinationStops)" ng-mouseleave="vm.hideToolTip($event)">{{flight.destinationStopsLength}}. Stops
                </a>
                    <p class="hidden"></p>

                </div>
                <div class="inlineBlock">

                    <span class="destination">{{flight.origin}}<br>
                 {{flight.arrivalRDate}} _ {{flight.arrivalRTime}}</span>

                </div>

                <br>



            </div>
        </div>
        <div class="priceAndSelect">
            <div>
                <p class="price">{{flight.pricingOptions.price}}</p>
            </div>
            <div>
                <button class="select ph-button ph-btn-purple" href={{flight.pricingOptions.DeeplinkUrl}} ng-click="vm.deepUrl($event)" ticketId={{flight._id}}>Select</button>
            </div>

        </div>
        <div class="ticketR">

        </div>
    </div>
</div>

<div class="controller">
    <button ng-show="vm.currentPage" ng-click="vm.orderPreviousPage()" ph-button ph-btn-blue class="ph-button ph-btn-blue">Previous</button>
    <button ng-click="vm.orderNextPage()" class="ph-button ph-btn-blue">Next</button>
</div>