<form id="searchBox" name="searchBox" ng-model="vm.data" ng-submit="vm.selectTicket()" novalidate>
    <input id="originplace" type="text" autocomplete="off" ng-focus="vm.currentInputElement('#originplace')" ng-model="vm.data.originplace" ng-blur="vm.cancelSuggestions()" ng-change="vm.predict(vm.data.originplace)" name="originplace" placeholder="origin airport" required>
    <input id="destinationplace" ng-blur="vm.cancelSuggestions()" ng-focus="vm.currentInputElement('#destinationplace')" ng-model="vm.data.destinationplace" ng-change="vm.predict(vm.data.destinationplace)" autocomplete="off" name="destinationplace" placeholder="destinationplace" required>
    <input ng-model="vm.data.outbounddate" name="outbounddate" type="date" date-check placeholder="departing"  required>
    <input ng-model="vm.data.inbounddate" name="inbounddate" type="date" date-check placeholder="arriving" required>
    <input ng-model="vm.data.adults" name="adults" type="number" placeholder="1-8" required>
    <input ng-model="vm.data.children" name="children" type="number" placeholder="children">
    <input ng-model="vm.data.infants" name="infants" type="number" placeholder="infants">
    <select ng-model="vm.data.class" name="class" placeholder="Economy">
        <option value="Economy" selected>Economy</option>
        <option value="PremiumEconomy">PremiumEconomy</option>
        <option value="Bussiness">Bussiness</option>
        <option value="First">First Class</option>
    </select>
    <button type="submit">Search</button>
    <p class="error" ng-show="vm.error" ng-bind="vm.error"></p>
    <p class="error" ng-show="searchBox.outbounddate.$error.dateCheck || searchBox.inbounddate.$error.dateCheck">check the date please</p>
    
</form>  

<div class="suggestions" ng-hide="vm.showSuggestion()"><div ng-repeat="suggest in vm.suggestions.suggestions track by $id($index)" ng-mouseleave="vm.inActive($event)" ng-mouseover="vm.active($event)" data-skyscannervalue ="{{suggest.PlaceId}}">{{suggest.PlaceName}}</div></div>


<div class="results">
    <div class="ticket" ng-repeat="flight in vm.flights">
        <div class="top">
            <span class="origin">{{flight.origin}}</span>
            <span class="outboundDuration">{{flight.outboundDuration}} hr</span>
            <span class="destination">{{flight.destination}}</span>
            <span class="outboundDuration">{{flight.inboundDuration}} hr</span>
            <span class="price">{{flight.pricingOptions.price}}</span>
        </div>
        <div>
            <img class="carrier" src={{flight.carrierImage}}>
            <button class="select" href={{flight.pricingOptions.DeeplinkUrl}} ng-click="vm.deepUrl($event)">Select</button>
        </div>
        <div>
            <span>{{flight.pricingOptions.origin}}</span>
        </div>
       
    </div>
</div>